{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
	<h1>About Rango</h1>
	<img src="{% static "images/about_rango.jpg" %} ">

	<h2>This tutorial has been put together by me.</h2>

	<div class="row">
	<div id="msg">Hello - I'm here for a JQuery Example too</div> <br>
	<p>This text is for a JQuery Example</p>
		<button style="margin: 10px;" class="btn btn-primary"
			onClick="alert('You clicked the button using JavaScript.');"> Click Me - I run JavaScript
		</button>
		<button style="margin: 10px;" class="btn btn-warning" id="about-btn"> Click Me - I'm JavaScript on Speed</button>
		<p>This is a example</p>
		<p>This is another example</p>
	</div>

	<img src="{{ MEDIA_URL }}friend.jpg">

{% endblock %}

	