{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
	{% if category %}
		<h1>{{ category.name }}</h1> 
		<div>
		<strong id="like_count">{{ category.likes }}</strong> people like this category 
		{% if user.is_authenticated %}
			<button id="likes" data-catid="{{category.id}}" class="btn btn-primary btn-sm" type="button"> 
				Like
			</button> 
		{% endif %}
		</div>
		<br>
		<br>

		<div class="row">
			<div class="col-md-6">
				<a href="/rango/category/{{ category.slug }}/add_page/">Add a New Page</a><br />

				{% if pages %}
					<ul>
						{% for page in pages %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li> 
						{% endfor %}
					</ul> 
				{% else %}
					<strong>No pages currently in category.</strong> 
				{% endif %}
				
			</div>
			<div class="col-md-6">
			Add a page!
			<hr>

			<!--
			{# <form role="form" id="page_form" method="post" action="/rango/category/{{category.slug}}/create_page/">
				<h2 class="form-signin-heading"> Add a Page to 
					<a href="/rango/category/{{category.slug}}/">{{ category.name }}</a>
				</h2> 
				{% csrf_token %}
		        {% for hidden in form.hidden_fields %}
		            {{ hidden }}
		        {% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}<br/> 
					{{ field }}<br/>
				{% endfor %}
				<br/>
				<button class="btn btn-primary" type="submit" name="submit">
				            Add Page
				</button>
			</form>  #}
			-->
				
			</div>		

		</div>
	{% else %}
	    The specified category does not exist!
	{% endif %}
{% endblock %}